<!DOCTYPE html>
<html lang="de">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>StuRa mit finanziellen Mitteln</title>
    <link rel="icon" href="{% static 'icon.png' %} " />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/mainstyle.css' %} ">
    <link rel="stylesheet" href="{% static 'css/W3.css' %} ">
    <link rel="stylesheet" href="{% static 'css/formular.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %} ">
    <script src="{% static 'js/myInputToggle.js' %}"></script>
</head>
<body>
<div class = "logo w3-animate-top">
    <a href="{%  url 'index' %}" class = "w3-hover-opacity"><img src="{% static 'img/logo.png' %} " class = "sturalogo" alt="ToolLogo"/></a>
</div>
<div class = "navigation">
    <ul class = "mainnav">
        <li class = "lil"><a href="{% url 'index' %}">Home</a></li>
        <li class = "lil"><a href="{% url 'intern' %}">Zurück</a></li>
    </ul>
</div>

<div class = "content w3-animate-opacity">
    <form action="">
        <label><b>Antragsnummer: {{ fina_object.number }}</b></label>
        <table class = "form">
            <tr>
                <td><input class = "w3-input w3-border" type = "text" name = "antrag" required placeholder = "20XX/XX-YY-ZZZZ" value="{{ fina_object.number }}"></td>
                <td><input type="submit" class = "w3-button w3-green mybutton" value="Daten Anfordern"></td>
            </tr>
        </table>
    </form>

    <form action="" method="post">
        {%  csrf_token %}
        <div class = "form">
            <label><b>Antragstitel:</b></label><br>
            <input class = "w3-input w3-border" type = "text" pattern = '(^[A-Z, Ä, Ö, Ü][a-z, ä, ö, ü, ß]{1,})' name = "titel" required placeholder = "Antrag auf..." value="{{ fina_object.title }}">
        </div>

        <div class = "form">
            <label><b>ausgewählte Stelle:</b></label><br>
            <input class = "w3-input w3-border" type = "text" name = "site" style="width: 30%;" value="{{ fina_object.office }}">
        </div>

        <div class = "w3-half npad">
            <label><b>Name:</b></label><br>
            <input class = "w3-input w3-border" type = "text" pattern = '(^[A-Z, Ö, Ä, Ü][a-z, ä, ö, ü, ß]{1,}\s[A-Z, Ö, Ä, Ü][a-z, ä, ö, ü, ß]{1,})' name = "name" required placeholder = "Max Mustermann" value="{{ fina_object.name }}" disabled>
        </div>
        <div class = "w3-half">
            <label><b>E-Mail:</b></label>
            <div class="tooltip">
                <img src="{% static 'img/info.png' %}" width = "16" height = "16" alt = "Info icon"/>
                <span class="tooltiptext"><script src="{% static 'text/mouseovers/email.js' %}"></script>
                </span></div>
            <input class = "w3-input w3-border" type = "email" name = "mail" required placeholder = "example@mail.com" value="{{ fina_object.mail }}" disabled>
        </div>

        <div class = "form">
            <label><b>Antragstext:</b></label>
            <div class="tooltip">
                <img src="{% static 'img/info.png' %}" width = "16" height = "16" alt = "Info icon"/>
                <span class="tooltiptext"><script src="{% static 'text/mouseovers/antragtext.js' %}"></script>
            </span></div>
            <textarea class = "w3-input w3-border" name = "antrtext" rows = "4" maxlength="1000">{% if fina_object %}{{ fina_object.text }}{% else %}Der StuRa möge beschließen{% endif %}</textarea>
        </div>

        <div class = "form">
            <label><b>Begründung zum Antrag:</b></label>
            <textarea class = "w3-input w3-border" name = "begzantr" rows = "4" placeholder="ausführliche Begründung zum Antrag..." maxlength="260">{{ fina_object.reason }}</textarea>
        </div>

        <div class = "form">
            <label><b>Kostenposition im Haushaltsplan:</b></label>
            <div class="tooltip">
                <img src="{% static 'img/info.png' %}" width = "16" height = "16" alt = "Info icon"/>
                <span class="tooltiptext"><script src="{% static 'text/mouseovers/KostenpositionimHaushaltsplantext.js' %}"></script>
            </span></div>
            <textarea class = "w3-input w3-border" name = "haushplan" rows = "4" maxlength="260">{{ fina_object.budget }}</textarea>
        </div>

        <div class = "form">
            <label><b>Vorschlag zum weiteren Verfahren:</b></label>
            <textarea class = "w3-input w3-border" name = "vrshzverf" rows = "4" placeholder="Vorschlag..." maxlength="260">{{ fina_object.suggestion}}</textarea>
        </div>

        <div class="form">
            <label><b>Anlagen:</b></label><br>
            <textarea class = "w3-input w3-border" name = "anlgn" rows = "4" maxlength="260" style="margin-bottom: 10px">{{ fina_object.anlagen }}</textarea>
        </div>

        <div>
            <label><b>Änderungsantrag:</b></label><br>
            <textarea class = "w3-input w3-border" name = "aenda" rows = "4" maxlength="260" style="margin-bottom: 10px">{{ fina_object.aenderung }}</textarea>
        </div>

        <div class = "form">
            <label><b>Falsche Stelle?</b></label>
            <label>Ja </label><input class="w3-check" type="checkbox" id="sturayes" name="wrgelec" onclick="togglecheck_stura('sturaInput','StelleInput','sturayes')">
        </div>

        <div class = form id = "sturaInput">
             <div class = "form">
                <label><b>Besondere Mehrheit?</b></label>
                <label>Ja </label><input class="w3-radio" type="radio" id = "yes" name="majorityradio">
                <label>Nein </label><input class="w3-radio" type="radio" id = "no" name="majorityradio" checked>
            </div>

            <div class = "form">
                <label><b>Beschluss:</b></label>
                <input class = "w3-input w3-border" type = "text" name = "beschluss" placeholder = "Beschluss" value="{{ fina_object.beschluss }}">
            </div>

            <div class = "form">
                <label><b>Beschlusstext:</b></label>
                <textarea class = "w3-input w3-border" name = "bestext" rows = "4" placeholder="Beschlusstext..." maxlength="260">{{ fina_object.beschlusstext }}</textarea>
            </div>

            <div class = "form">
                <label><b>Begründung zum Beschluss:</b></label>
                <textarea class = "w3-input w3-border" name = "begtext" rows = "4" placeholder="Beschlussbegründung..." maxlength="260">{{ fina_object.beschlussgrund }}</textarea>
            </div>
        </div>

        <div class = "form" id = "StelleInput" style="display: none">
            <div class = "w3-half npad">
                <label><b>Zuständige Stelle wählen:</b></label><br>
                <label>
                    <select class="w3-select w3-border" id = "Sin" onchange="mytoggleinputs('oth')" name = "election_input">
                        <option disabled selected>Bitte Auswählen</option>
                        <optgroup label="Allgemein">
                            <option name = "vors" value = "Vorstand">Vorstand</option>
                            <option name = "ple" value = "Plenum">Plenum</option>
                            <option name = "prae" value = "Präsidium">Präsidium</option>
                            <option name = "vertkss" value = "Vertretung in der KSS">Vertretung in der KSS</option>
                            <option name = "vertfzs" value = "Vertretung im fzs">Vertretung im fzs</option>
                            <option name = "fakulkreis" value = "Fakultätsarbeitskreis">Fakultätsarbeitskreis</option>
                            <option name = "refkoll" value = "Referatskollegium">Referatskollegium</option>
                        </optgroup>
                        <optgroup label="Referatsleitung">
                            <option name = "refstselorg" value = "Studentische Selbstverwaltung und Organisation">Studentische Selbstverwaltung und Organisation</option>
                            <option name = "refstud" value = "Studium">Studium</option>
                            <option name = "refkul" value = "Kultur">Kultur</option>
                            <option name = "refsp" value = "Sport">Sport</option>
                            <option name = "refqm" value = "Qualitätsmanagement">Qualitätsmanagement</option>
                            <option name = "refoeff" value = "Öffentlichkeitsarbeit">Öffentlichkeitsarbeit</option>
                            <option name = "refsoz" value = "Soziales">Soziales</option>
                            <option name = "reffin" value = "Finanzen">Finanzen</option>
                            <option name = "refhoch" value = "Hochschulpolitik">Hochschulpolitik</option>
                            <option name = "refint" value = "Internationales">Internationales</option>
                        </optgroup>
                        <option name = "other" value = "18">Eigene...</option>
                    </select>
                </label>

            </div>

            <div class = "w3-half">
                <br>
                <div id="oth" style = "visibility: hidden">
                    <input class = "w3-input w3-border" type = "text" name = "otherinput">
                </div>
            </div>
        </div>

        <div class = "w3-row-padding">
            <input type="submit" class = "w3-button w3-green mybutton" value="Absenden">
            <input type="reset" class = "w3-button w3-indigo mybutton" value="Zurücksetzen">
            <input type="button" class = "w3-button w3-yellow mybutton" value="Antrag Drucken" onclick="window.print()">
        </div>
    </form>
</div>
{% include 'footer.html' %}
</body>
</html>