{% load static %}
<div class = "navigation">
    <ul class = "mainnav">
        <li {% if request.get_full_path == "/Antragsverwaltungstool/" %} id = "active"{% endif %} class = "lil"><a href="{%  url 'index' %}">Home</a></li>
        <li {% if request.get_full_path == "/Antragsverwaltungstool/new_universall/" %} id = "active"{% endif %} class = "lil"><a href="{%  url 'universall' %}">Antrag ohne finanzielle Mittel</a></li>
        <li {% if request.get_full_path == "/Antragsverwaltungstool/new_finance/" %} id = "active"{% endif %} class = "lil"><a href="{%  url 'finance' %}">Antrag mit finanziellen Mitteln</a></li>
        <li {% if request.get_full_path == "/Antragsverwaltungstool/published_applications/" %} id = "active"{% endif %} class = "lil"><a href="{%  url 'published_applications' %}">Veröffentlichte Anträge</a></li>
        <li class = "dropdown lil"><a href="javascript:void(0)" class = "dropbtn">Antrag zur: ▼</a>
            <div class = "dropdown-content w3-animate-opacity">
                <a href="{%  url 'advisory_member' %}">Beratendes Mitglied</a>
                <a href="{%  url 'election_report' %}">Stelle/Amt</a>
                <a href="{% url 'conduct' %}">Herstellung des Benehmens</a>
            </div>
        </li>
        {% if user.is_authenticated %}<li {% if request.get_full_path == "/Antragsverwaltungstool/intern/" %} id = "active"{% endif %} class = "lil"><a href="{%  url 'intern' %}">Intern</a></li>{% endif %}
        <li class = "lir"><a href="https://www.stura.htw-dresden.de/">
            <img src="{% static 'img/Stura_htw.png' %}" style="width: 84px" alt = "SturaLogo"/></a>
        </li>
        {% include 'is_logged_in.html' %}
    </ul>
</div>

