{% extends 'stat_html/intern.html'%}

{% block out %}
{% if pos %}<h3>Alle Anträge an: {{ pos }}</h3>
{% else %}<h3>Alle Anträge an alle Stellen:</h3>
{% endif %}
<ul style="list-style-type:none;">
    <table style="width: 100%">
        {% if uni_object %}
        <li>
            <tr>
                <td style="text-align: center"><b>Anträge ohne finanzielle Mittel:</b></td>
            </tr>
        </li>
        <li>
            <tr>
                <td style="text-align: center"><b>Antragsnummer</b></td>
                <td style="text-align: center"><b>Antragstitel</b></td>
                <td style="text-align: center"><b>Datum</b></td>
            </tr>
        </li>
        {% for application in uni_object %}
        <li>
            <tr>
                <td style="text-align: center"><a class = "ap_link" href="{{ application.get_absolute_url }}">{{ application.number }}</a></td>
                <td style="text-align: center">{{ application.title }}</td>
                <td style="text-align: center">{{ application.date }}</td>
            </tr>
        </li>
        {% endfor %}
        {% else %}
        <li>
            <tr>
                <td style="text-align: center"><b>keine Anträge ohne finanzielle Mittel!</b></td>
            </tr>
        </li>
        {% endif %}

        {% if fin_object %}
        <li>
            <tr>
                <td style="text-align: center"><b>Anträge mit finanziellen Mitteln:</b></td>
            </tr>
        </li>
        <li>
            <tr>
                <td style="text-align: center"><b>Antragsnummer</b></td>
                <td style="text-align: center"><b>Antragstitel</b></td>
                <td style="text-align: center"><b>Datum</b></td>
            </tr>
        </li>
        {% for application in fin_object %}
        <li>
            <tr>
                <td style="text-align: center"><a class = "ap_link"  href="{{ application.get_absolute_url }}">{{ application.number }}</a></td>
                <td style="text-align: center">{{ application.title }}</td>
                <td style="text-align: center">{{ application.date }}</td>
            </tr>
        </li>
        {% endfor %}
        {% else %}
        <li>
            <tr>
                <td style="text-align: center"><b>keine Anträge mit finanziellen Mitteln!</b></td>
            </tr>
        </li>
        {% endif %}

        {% if pos_object %}
        <li>
            <tr>
                <td style="text-align: center"><b>Anträge zur Stelle/Amt:</b></td>
            </tr>
        </li>
        <li>
            <tr>
                <td style="text-align: center"><b>Antragsnummer</b></td>
                <td style="text-align: center"><b>Antragstitel</b></td>
                <td style="text-align: center"><b>Datum</b></td>
            </tr>
        </li>
        {% for application in pos_object %}
        <li>
            <tr>
                <td style="text-align: center"><a class = "ap_link"  href="{{ application.get_absolute_url }}">{{ application.number }}</a></td>
                <td style="text-align: center">{{ application.title }}</td>
                <td style="text-align: center">{{ application.date }}</td>
            </tr>
        </li>
        {% endfor %}
        {% else %}
        <li>
            <tr>
                <td style="text-align: center"><b>keine Anträge zur Stelle/Amt!</b></td>
            </tr>
        </li>
        {% endif %}

        {% if adv_object %}
        <li>
            <tr>
                <td style="text-align: center"><b>Anträge für beratende Mitglieder:</b></td>
            </tr>
        </li>
        <li>
            <tr>
                <td style="text-align: center"><b>Antragsnummer</b></td>
                <td style="text-align: center"><b>Antragstitel</b></td>
                <td style="text-align: center"><b>Datum</b></td>
            </tr>
        </li>
        {% for application in adv_object %}
        <li>
            <tr>
                <td style="text-align: center"><a class = "ap_link"  href="{{ application.get_absolute_url }}">{{ application.number }}</a></td>
                <td style="text-align: center">{{ application.title }}</td>
                <td style="text-align: center">{{ application.date }}</td>
            </tr>
        </li>
        {% endfor %}
        {% else %}
        <li>
            <tr>
                <td style="text-align: center"><b>keine Anträge für beratende Mitglieder!</b></td>
            </tr>
        </li>
        {% endif %}

        {% if con_object %}
        <li>
            <tr>
                <td style="text-align: center"><b>Anträge zum Herstellen des Benehmens:</b></td>
            </tr>
        </li>
        <li>
            <tr>
                <td style="text-align: center"><b>Antragsnummer</b></td>
                <td style="text-align: center"><b>Antragstitel</b></td>
                <td style="text-align: center"><b>Datum</b></td>
            </tr>
        </li>
        {% for application in con_object %}
        <li>
            <tr>
                <td style="text-align: center"><a class = "ap_link"  href="{{ application.get_absolute_url }}">{{ application.number }}</a></td>
                <td style="text-align: center">{{ application.title }}</td>
                <td style="text-align: center">{{ application.date }}</td>
            </tr>
        </li>
        {% endfor %}
        {% else %}
        <li>
            <tr>
                <td style="text-align: center"><b>keine Anträge zum Herstellen des Benehmens!</b></td>
            </tr>
        </li>
        {% endif %}
    </table>
</ul>
{% endblock %}